.pageOverlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 5000; }

.dialog { overflow: hidden; position: fixed; top: 50%; left: 50%; z-index: 5001; }

.dialog { width: 367px; overflow: hidden; margin-left: -183px; padding-top: 52px; padding-bottom: 62px; }

.dialog h1 { cursor: move; position: absolute; top: 0; left: 0; display: block; width: 100%; background: url(../Images/modalHeadFoot.png) right 0 no-repeat; }

.dialog h1 .wrap { background: grey url(../Images/modalHeadFoot.png) 0 0 no-repeat; margin: 0 19px 0 0; display: block; height: 52px; font-size: 15px; font-weight: bold; color: #FFF; text-shadow: 0 1px 0 black; line-height: 56px; text-indent: 22px; }

.dialog h1 #closeDialog { position: absolute; top: 17px; right: 20px; background: url(../Images/modalButtons.png) -1px 0 no-repeat !important; width: 27px; height: 26px; display: block; text-indent: -2000em; overflow: hidden; }

.dialog h1 #closeDialog:hover { background:grey  url(../Images/modalButtons.png) -1px -27px no-repeat !important; }

.dialog .modalBody { display: block; background: url(../Images/modalBody.png) right 0 repeat-y; height: 100%; overflow: auto; }

.dialog .modalBody .wrap { display: block; background: url(../Images/modalBody.png) 0 0 repeat-y; height: 100%; overflow: auto; margin: 0 19px 0 0; position:relative; }

.dialog .modalBody .content { display: block; height: auto; overflow: hidden; margin: 20px 11px 20px 30px; color: #000; text-shadow: 0 1px 0 #fff; }

.dialog .dialogFooter { display: block; position: absolute; bottom: 0; left: 0; overflow: hidden; background: url(../Images/modalHeadFoot.png) right -51px no-repeat; width: 100%; padding: 0; }

.dialog .dialogFooter .wrap { overflow: hidden; display: block; background: url(../Images/modalHeadFoot.png) 0 -51px no-repeat; width: auto; height: 53px; margin: 0 19px 0 0; padding: 9px 0 0 25px; }

.dialog .dialogFooter a { line-height: 32px; display: block; float: left; background: url(../Images/modalButtons.png) right -64px no-repeat; height: 32px; padding: 0 10px 0 0; margin: 0 10px 0 0; font-size: 14px; font-weight: bold; color: #E6E6E6; text-shadow: 0 1px 0 black; }

.ie7 .dialog .dialogFooter a,
.ie8 .dialog .dialogFooter a { font-size: 12px }

.dialog .dialogFooter a span { display: block; background: url(../Images/modalButtons.png) -30px -64px no-repeat; height: 32px; padding: 0 5px 0 15px; cursor: pointer; }

.dialog .dialogFooter a.defaultButton { background: url(../Images/modalButtons.png) right 0 no-repeat; color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65); }

.dialog .dialogFooter a.defaultButton span { background: url(../Images/modalButtons.png) -30px 0 no-repeat }

.dialog .dialogFooter a.defaultButton:hover,
.dialog .dialogFooter a:hover { background: url(../Images/modalButtons.png) right -32px no-repeat !important; color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65); }

.dialog .dialogFooter a.defaultButton:hover span,
.dialog .dialogFooter a:hover span { background: url(../Images/modalButtons.png) -30px -32px no-repeat !important }

.simpleModal .pageOverlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 5000; }

.simpleModal .modal { overflow: hidden; position: fixed; top: 50%; left: 50%; z-index: 5000; width: 367px; overflow: hidden; margin-left: -183px; padding-top: 52px; padding-bottom: 62px; }

.simpleModal .modal h1 { cursor: move; position: absolute; top: 0; left: 0; display: block; width: 100%; background: url(../Images/modalHeadFoot.png) right 0 no-repeat; }

.simpleModal .modal h1 .wrap { background: url(../Images/modalHeadFoot.png) 0 0 no-repeat; margin: 0 19px 0 0; display: block; height: 52px; font-size: 15px; font-weight: bold; color: #FFF; text-shadow: 0 1px 0 black; line-height: 56px; text-indent: 22px; }

.simpleModal .modal h1 #closeDialog { position: absolute; top: 17px; right: 20px; background: url(../Images/modalButtons.png) -1px 0 no-repeat !important; width: 27px; height: 26px; display: block; text-indent: -2000em; overflow: hidden; }

.simpleModal .modal h1 #closeDialog:hover { background: url(../Images/modalButtons.png) -1px -27px no-repeat !important; }

.simpleModal .modal .modalBody { display: block; background: url(../Images/modalBody.png) right 0 repeat-y; height: 100%; overflow: auto; }

.simpleModal .modal .modalBody .wrap { display: block; background: url(../Images/modalBody.png) 0 0 repeat-y; height: 100%; overflow: auto; margin: 0 19px 0 0; position:relative; }

.simpleModal .modal .modalBody .content { display: block; height: auto; overflow: hidden; margin: 20px 11px 20px 30px; color: #000; text-shadow: 0 1px 0 #fff; }

.simpleModal .modal .dialogFooter { display: block; position: absolute; bottom: 0; left: 0; overflow: hidden; background: url(../Images/modalHeadFoot.png) right -51px no-repeat; width: 100%; padding: 0; }

.simpleModal .dialogFooter .wrap { overflow: hidden; display: block; background: url(../Images/modalHeadFoot.png) 0 -51px no-repeat; width: auto; height: 53px; margin: 0 19px 0 0; padding: 9px 0 0 25px; }

.simpleModal .dialogFooter a { line-height: 32px; display: block; float: left; background: url(../Images/modalButtons.png) right -64px no-repeat; height: 32px; padding: 0 10px 0 0; margin: 0 10px 0 0; font-size: 14px; font-weight: bold; color: #E6E6E6; text-shadow: 0 1px 0 black; }

.ie7 .simpleModal .dialogFooter a,
.ie8 .simpleModal .dialogFooter a { font-size: 12px }

.simpleModal .dialogFooter a span { display: block; background: url(../Images/modalButtons.png) -30px -64px no-repeat; height: 32px; padding: 0 5px 0 15px; cursor: pointer; }

.simpleModal .dialogFooter a.defaultButton { background: url(../Images/modalButtons.png) right 0 no-repeat; color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65); }

.simpleModal .dialogFooter a.defaultButton span { background: url(../Images/modalButtons.png) -30px 0 no-repeat }

.simpleModal .dialogFooter a.defaultButton:hover,
.simpleModal .dialogFooter a:hover { background: url(../Images/modalButtons.png) right -32px no-repeat !important; color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65); }

.simpleModal .dialogFooter a.defaultButton:hover span,
.simpleModal .dialogFooter a:hover span { background: url(../Images/modalButtons.png) -30px -32px no-repeat !important }